[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
redis = "*"
psycopg2 = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
